# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit secrets (no subir credenciales)
.streamlit/secrets.toml